__pycache__/
*.py[cod]
to_be_defined
.gradio
custom_setup.sh

DMCAF_ENV/
outputs/
runs/

# Ignore Datasets and Checkpoints directories for medical_image/
medical_image/Datasets/
medical_image/Checkpoints/
.idea
*.pt
medical_image/Outputs/
data
models
